In [19]:
library("readxl")
library("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘tibble’, ‘vctrs’

In [17]:
real_estate <- read_excel("Real estate valuation data set.xlsx")
head(real_estate)

  No X1 transaction date X2 house age X3 distance to the nearest MRT station
1 1  2012.917            32.0           84.87882
2 2  2012.917            19.5          306.59470
3 3  2013.583            13.3          561.98450
4 4  2013.500            13.3          561.98450
5 5  2012.833             5.0          390.56840
6 6  2012.667             7.1         2175.03000
  X4 number of convenience stores X5 latitude X6 longitude
1 10                              24.98298    121.5402
2  9                              24.98034    121.5395
3  5                              24.98746    121.5439
4  5                              24.98746    121.5439
5  5                              24.97937    121.5425
6  3                              24.96305    121.5125
  Y house price of unit area
1 37.9
2 42.2
3 47.3
4 54.8
5 43.1
6 32.1

In [20]:
real_estate <- real_estate %>%
        rename(
            transaction_date = `X1 transaction date`,
            house_age = `X2 house age`,
            nearest_station = `X3 distance to the nearest MRT station`,
            num_convenience = `X4 number of convenience stores`,
            lat = `X5 latitude`,
            lon = `X6 longitude`,
            house_price = `Y house price of unit area`
        )
head(real_estate)

  No transaction_date house_age nearest_station num_convenience lat
1 1  2012.917         32.0        84.87882      10              24.98298
2 2  2012.917         19.5       306.59470       9              24.98034
3 3  2013.583         13.3       561.98450       5              24.98746
4 4  2013.500         13.3       561.98450       5              24.98746
5 5  2012.833          5.0       390.56840       5              24.97937
6 6  2012.667          7.1      2175.03000       3              24.96305
  lon      house_price
1 121.5402 37.9
2 121.5395 42.2
3 121.5439 47.3
4 121.5439 54.8
5 121.5425 43.1
6 121.5125 32.1

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)